@font-face {
    font-family: "Gosha Sans Bold";
    src: url('font/PPGoshaSans-Bold.eot');
    src: url('font/PPGoshaSans-Bold.eot') format('embedded-opentype'),
    url('font/PPGoshaSans-Bold.woff2') format('woff2'),
    url('font/PPGoshaSans-Bold.woff') format('woff'),
    url('font/PPGoshaSans-Bold.ttf') format('truetype');
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

h1, h2, h3 {
    font-family: "Gosha Sans Bold";
    color: #FF772C;
}

span, p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.jet-orange {
    color: #FF772C;
}

.jet-black {
    color: #222628;
}

#chat-container {
    width: 60%;
    height: 600px;
    overflow-y: auto;
    border: 1px solid #222628;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#chat-container .send-message {
    display: flex;
    padding: 0 24px 24px 24px;
    width: 100%;
    box-sizing: border-box;
}

#chat-container .send-message input {
    outline: none;
    padding: 12px;
    border: 1px solid #747474;
    border-radius: 4px;
    margin-right: 2px;
    font-size: 16px;
    flex: 1;
}

#chat-container .send-message button {
    padding: 12px 18px;
    border: none;
    background-color: #FF772C;
    color: #fff;
    font-size: 16px;
    outline: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: 0.2s all;

    &:active {
        transform: scale(0.97);
    }
}

#chat-container #messages {
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.chat-message-bubble-container {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.chat-message-bubble {
    display: inline-block;
    font-size: 14px;
    background: #222628;
    padding: 8px 14px;
    border-radius: 18px;
    min-width: 0;
    color: white;
    margin-bottom: 24px;
    align-self: flex-start;
}

.my-messages {
    display: flex;
    align-self: flex-end;
}

.my-messages .chat-message-bubble {
    background-color: #FF772C;
}

.nickname {
    font-size: 10px;
}
